@media screen and (max-width: 600px) {
    .small-picture {
      display: none;
    }
  }
@media screen and (max-width: 600px) {
    .large-picture {
      display: inline;
      width: 200px;
    }
  }
@media screen and (min-width: 600px) {
    .large-picture {
        display: none;
    }
  }
nav, footer {
    font-family: 'Indie Flower' !important;
}
.media-body a:hover, .social-cards a:hover {
    color: white;
    text-shadow: 1px 1px 10px lightblue !important;
}
body {
    font-family: 'Mirza' !important;
    height: auto;
    text-overflow: ellipsis;
    width: 100vw;
    overflow-x: hidden;
    background-image: url("http://i.stack.imgur.com/tQTRW.gif");
    background-repeat: repeat;
}
body a:hover {
    text-decoration: none;
}
html {
    width: 100vw;
    overflow-x: hidden;
}
.container1 {
    display: flex;
    justify-content: center;
}
.fixedbutton {
    position: fixed;
    bottom: 7%;
    right: 0.1%; 
}
.commission-pic {
    width: auto;
}
.small-cards{
    animation: fadeUp 2s, ease-in-out;
}
.social-cards {
    animation: slideInRight 2s;
}
.big-card {
    animation: slideIn 2s, ease-in-out; 
}
.card-header a {
    color: white;
}
.card-header:hover {
    font-style: italic;
}
.social-cards i {
    display: flex;
    justify-content: center;
}
.active {
    text-shadow: 2px 2px 3px black;
}
.list-group {
    width: 70px;
}
main .ditto img {
    width: 600px;
}
h1 {
    text-shadow: 2px 2px 4px Black;
}
@keyframes fadeUp {
    0% {
        transform: translateY(900px);
        opacity: 0;
    }
    100% {
        transform: translateY(auto);
        opacity: 1;
    }
}
@keyframes slideIn {
    0% {
        transform: translateX(-1500px);
        opacity: 0;
    }
    100% {
        transform: translateX(auto);
        opacity: 1;
    }
}
@keyframes slideInRight {
    0% {
        transform: translateX(1500px);
        opacity: 0;
    }
    100% {
        transform: translateX(auto);
        opacity: 1;
    }
}
main .media-body img {
    width: 100%;
    height: auto;
}
::-webkit-scrollbar { 
    display: none; 
}