nav, footer {
    font-family: 'Indie Flower' !important;
}
body {
    font-family: 'Mirza' !important;
    height: auto;
}
.fixedbutton {
    position: fixed;
    bottom: 7%;
    right: 0.1%; 
}
.small-cards{
    animation: fadeUp 2s, ease-in-out;
}
.big-card {
    animation: slideIn 2s, ease-in-out;
}
@keyframes fadeUp {
    0% {
        transform: translateY(300px)
    }
    100% {
        transform: translateY(auto)
    }
}
@keyframes slideIn {
    0% {
        transform: translateX(-1500px)
    }
    100% {
        transform: translateX(auto)
    }
}
::-webkit-scrollbar { 
    display: none; 
}