nav, footer {
    font-family: 'Indie Flower' !important;
}
body {
    font-family: 'Mirza' !important;
    height: auto;
    text-overflow: ellipsis;
    width: 100vw;
    background-image: url("media/background.gif");
    background-repeat: repeat;
}
.container1 {
    display: flex;
    justify-content: center;
}
.fixedbutton {
    position: fixed;
    bottom: 7%;
    right: 0.1%; 
}
.small-cards{
    animation: fadeUp 2s, ease-in-out;
}
.social-cards {
    animation: slideInRight 2s;
}
.big-card {
    animation: slideIn 2s, ease-in-out;
}
.card-header a {
    color: white;
}
.card-header:hover {
    font-style: italic;
}
.social-cards i {
    display: flex;
    justify-content: center;
}
.active {
    text-shadow: 2px 2px 3px black;
}
.list-group {
    width: 120px;
}
h1 {
    text-shadow: 2px 2px 4px Black;
}
@keyframes fadeUp {
    0% {
        transform: translateY(900px)
    }
    100% {
        transform: translateY(auto)
    }
}
@keyframes slideIn {
    0% {
        transform: translateX(-1500px)
    }
    100% {
        transform: translateX(auto)
    }
}
@keyframes slideInRight {
    0% {
        transform: translateX(1500px)
    }
    100% {
        transform: translateX(auto)
    }
}
main .media-body img {
    width: 100%;
    height: auto;
}
::-webkit-scrollbar { 
    display: none; 
}