.fixedbutton {
    position: fixed;
    bottom: 20px;
    right: 0px; 
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #6441a5;
    text-align: center;
}
p {
  color: white;
}
h2 {
  color: white;
}
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
.body {
  background-color: #6441a5;
}
.social img {
    height: auto;
    border: 4px solid #555;
    padding: 1px;
    margin: 0 10px 10px 0;
    float: none;

}
.social img:hover {
    border: 4px solid #fff;
    cursor:pointer;
}
.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:right;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: bg-animation 10s infinite;
}

@-webkit-keyframes bg-animation {
  0% {
    background-color: green;
  }
  15% {
    background-color: blue;
  }
  30% {
    background-color: purple;
  }
  45% {
    background-color: pink;
  }
  60% {
    background-color: brown;
  }
  75% {
    background-color: red;
  }
  90% {
    background-color: yellow;
  }
  100% {
    background-color: green;
  }
}

@keyframes bg-animation {
  0% {
    background-color: yellow;
  }
  15% {
    background-color: green;
  }
  30% {
    background-color: blue;
  }
  45% {
    background-color: purple;
  }
  60% {
    background-color: pink;
  }
  75% {
    background-color: brown;
  }
  90% {
    background-color: red;
  }
  100% {
    background-color: yellow;
  }
}

a:active {
    color: white;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: yellow;
}
